:root {
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/* Regular */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI"),
        url("/fonts/oeui.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

/* Bold */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Bold"),
        url("/fonts/oeuib.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

/* Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Italic"),
        url("/fonts/oeuii.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: block;
}

/* Light */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Light"),
        url("/fonts/oeuil.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: block;
}

/* SemiLight */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semilight"),
        url("/fonts/oeuisl.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
    font-display: block;
}

/* Black (Heavy) */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Bold Italic"),
        url("/fonts/oeuiz.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: block;
}

/* Bold Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Black Italic"),
        url("/fonts/uibli.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: block;
}

/* Black */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Black"),
        url("/fonts/uibl.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: block;
}

/* Emoji */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Emoji"),
        url("/fonts/uiemj.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

/* Historic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Historic"),
        url("/fonts/uihis.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

/* Light Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Light Italic"),
        url("/fonts/uili.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: block;
}

/* Semibold */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semibold"),
        url("/fonts/uisb.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

/* Semibold Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semibold Italic"),
        url("/fonts/uisbi.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: block;
}

/* Semilight Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semilight Italic"),
        url("/fonts/uisli.ttf") format("truetype");
    font-weight: 350;
    font-style: italic;
    font-display: block;
}

/* Symbol */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Symbol"),
        url("/fonts/uisym.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

html,
body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 200svh;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI web", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

    scroll-behavior: smooth;
}

* {
    background-color: black;
    color: #DDDDDD;
}

.hello {
    height: 100svh;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.argv {
    position: absolute;
    left: 0px;
    margin: 10px 10px 10px 10px;

    color: #666666;
}

.me-border {
    background: linear-gradient(45deg,
            hsl(0, 100%, 40%) 0%,
            hsl(60, 100%, 40%) 16.6%,
            hsl(120, 100%, 40%) 33.3%,
            hsl(180, 100%, 40%) 50%,
            hsl(240, 100%, 40%) 66.6%,
            hsl(300, 100%, 40%) 83.3%,
            hsl(360, 100%, 40%) 100%);
    animation: rotate_bg 30s ease-in-out infinite;
    background-size: 400% 400%;

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 2px 2px 2px 2px;
    width: 50%;
    min-width: min(500px, calc(100svw - 6px));
    max-width: min(700px, calc(100svw - 6px));
    border-radius: 5px;

    z-index: 1;
}

@keyframes rotate_bg {
    0% {
        background-position: 0% 100%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.me {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border-radius: 5px;
    display: flex;
    padding: min(30px, 5svw);
}

.me,
.me * {
    background-color: #222222;
}

.me span:not(.small) {
    font-family: monospace;
    font-size: larger;
}

.me .small {
    color: #AAAAAA;
}

.me-img {
    object-fit: contain;
    width: min(calc(0.2 * min(500px, calc(100svw - 6px))), 100px);
    margin-right: min(30px, 5svw);
    height: min(calc(0.2 * min(500px, calc(100svw - 6px))), 100px);
    margin-top: 5px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


#cursor {
    opacity: 0;
    color: lightgrey;
    display: inline-block;
}

#project-pointer {
    position: absolute;
    bottom: calc(100% - 100svh);
    text-align: center;
    z-index: 0;
}

body *:not(#project-pointer, #scroll, .hello) {
    z-index: 2;
}

#scroll {
    position: fixed;
    background: linear-gradient(to bottom, #000000FF 40%, #000000DD 60%, #00000000 90%);
    height: 100svh;
    width: 100%;

    z-index: 1;
    pointer-events: none;
}

#projects {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    row-gap: 10px;
    width: 100%;
}

#projects>div {
    flex: 0 0 35%;
    /* height: 100%; */
    /* min-width: 35%; */
    box-sizing: border-box;

    padding: 20px;
    margin: 10px;

    border-style: ridge;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #projects>div {
        flex: 1 0 35%;
    }
}

#projects>div>footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    margin-top: auto;
    column-gap: 10px;
}

#projects>div>header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 0px;
    margin-bottom: 20px;
}

#projects>div>header>img {
    object-fit: contain;
    width: min(calc(0.2 * min(500px, calc(100svw - 6px))), 100px);
    margin-right: min(30px, 5svw);
    height: min(calc(0.2 * min(500px, calc(100svw - 6px))), 100px);
    border-radius: 10px;
}

#projects>div>h1 {
    margin-top: 0;
}