body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/* Regular */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI"),
        url("/fonts/oeui.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    /* font-display: swap; */
}

/* Bold */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Bold"),
        url("/fonts/oeuib.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    /* font-display: swap; */
}

/* Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Italic"),
        url("/fonts/oeuii.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    /* font-display: swap; */
}

/* Light */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Light"),
        url("/fonts/oeuil.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    /* font-display: swap; */
}

/* SemiLight */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semilight"),
        url("/fonts/oeuisl.ttf") format("truetype");
    font-weight: 350;
    font-style: normal;
    /* font-display: swap; */
}

/* Black (Heavy) */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Bold Italic"),
        url("/fonts/oeuiz.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    /* font-display: swap; */
}

/* Bold Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Black Italic"),
        url("/fonts/uibli.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    /* font-display: swap; */
}

/* Black */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Black"),
        url("/fonts/uibl.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    /* font-display: swap; */
}

/* Emoji */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Emoji"),
        url("/fonts/uiemj.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    /* font-display: swap; */
}

/* Historic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Historic"),
        url("/fonts/uihis.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    /* font-display: swap; */
}

/* Light Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Light Italic"),
        url("/fonts/uili.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    /* font-display: swap; */
}

/* Semibold */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semibold"),
        url("/fonts/uisb.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    /* font-display: swap; */
}

/* Semibold Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semibold Italic"),
        url("/fonts/uisbi.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
    /* font-display: swap; */
}

/* Semilight Italic */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Semilight Italic"),
        url("/fonts/uisli.ttf") format("truetype");
    font-weight: 350;
    font-style: italic;
    /* font-display: swap; */
}

/* Symbol */
@font-face {
    font-family: "Segoe UI web";
    src: local("Segoe UI Symbol"),
        url("/fonts/uisym.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    /* font-display: swap; */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 200%;
    /* height: auto; */
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI web", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
    background-color: black;
    color: white;
}

.hello {
    height: 100svh;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.argv {
    position: absolute;
    left: 0px;
    margin: 10px 10px 10px 10px;

    color: #666666;
}

.me-border {
    background: linear-gradient(45deg,
            hsl(0, 100%, 40%) 0%,
            hsl(60, 100%, 40%) 16.6%,
            hsl(120, 100%, 40%) 33.3%,
            hsl(180, 100%, 40%) 50%,
            hsl(240, 100%, 40%) 66.6%,
            hsl(300, 100%, 40%) 83.3%,
            hsl(360, 100%, 40%) 100%);
    animation: rotate_bg 30s ease-in-out infinite;
    background-size: 400% 400%;

    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    padding: 2px 2px 2px 2px;
    width: 33%;
    min-width: min(500px, calc(100svw - 6px));
    max-width: min(700px, calc(100svw - 6px));
    border-radius: 5px;
}

@keyframes rotate_bg {
    0% {
        background-position: 0% 100%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.me {
    width: auto;
    border-radius: 5px;

    padding: 30px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}


.cursor {
    opacity: 0;
    color: lightgrey;
    display: inline-block;
}